#helper li {
    border-bottom: 1px solid rgba(0,0,0,0.08);
    padding: 10px 0;
}

#helper span {
    display: inline-block;
    width: 130px;
    font: 12px Arial, Helvetica, sans-serif;
    color: #666666;
}

#helper span:first-of-type {
    display: inline;
}