/* 豆瓣图书页面 */

#helper li {
    border-bottom: 1px solid rgba(0,0,0,0.08);
    padding: 10px 0;
}

#helper span {
    display: inline-block;
    width: 130px;
    font: 12px Arial, Helvetica, sans-serif;
    color: #666666;
}

#helper span:first-of-type {
    display: inline;
}

/* 华电图书馆图书页面 */
.star {
    width: 75px;
    height: 15px;
    margin: 0 auto;
    background-image: url(https://img3.doubanio.com/f/shire/680a4bc4c384199245b080c7104da5be8ed717d3/pics/rating_icons/ic_rating_m.png);
}